# Node modules
node_modules/
**/node_modules/

# Build output
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vite specific
.vite/
.vitepress/

# NestJS specific
*.js
*.d.ts
*.map

# Turborepo specific
.turbo/

# IDE and editor specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/
